body {
    background-color: green;
    color: black;
    font-family: 'Inter', Helvetica, sans-serif;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.todo__image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 10px auto;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .todo__image {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width:420px) {
    .todo__image {
        width: 150px;
        height: 150px;
    }
}

.title {
    width: 500px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    background: transparent;
    color: aliceblue;
}

@media screen and (max-width:768px) {
    .title {
        width: 400px;
        font-size: 55px;
    }
}

@media screen and (max-width:420px) {
    .title {
        width: 400px;
        font-size: 45px;
    }
}

.subtitle {
    width: 600px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    background: transparent;
    color: greenyellow;
    margin: 0;
}

@media screen and (max-width:768px) {
    .subtitle {
        font-size: 35px;
    }
}

@media screen and (max-width:420px) {
    .subtitle {
        font-size: 30px;
    }
}

.form {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:768px) {
    .form {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.form__input {
    min-width: 510px;
    min-height: 70px;
    background: orangered;
    border-radius: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: white;
}

@media screen and (max-width:768px) {
    .form__input {
        min-width: 490px;
        font-size: 22px;
    }
}

@media screen and (max-width:420px) {
    .form__input {
        min-width: 335px;
        font-size: 18px;
    }
}

.form__submit {
    margin-left: 10px;
    width: 165px;
    min-height: 70px;
    background: greenyellow;
    border-radius: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: green;
}

@media screen and (max-width:768px) {
    .form__submit {
        font-size: 25px;
    }
}

.footer {
    width: 250px;
    height: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: goldenrod;
    margin: 120px auto 0px;
}


.list__item {
    width: 700px;
    height: 110px;
    border: 2px solid #0d9b17;
    box-sizing: border-box;
    border-radius: 9px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 45px;
    margin-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    color: white;
}

@media screen and (max-width:768px) {
    .list__item {
        width: 500px;
        height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px;
        margin-top: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width:420px) {
    .list__item {
        width: 350px;
        font-size: 18px;
    }
}

.list {
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

.item__text {
    min-width: 500px;
    max-height: 30px;
    text-align: center;
}

@media screen and (max-width:768px) {
    .item__text {
        min-width: 320px;
    }
}

@media screen and (max-width:420px) {
    .item__text {
        min-width: 190px;
    }
}

.item__text_line-through {
    text-decoration: line-through;
}

.list__item img {
    margin-left: 10px;
}

.form__input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: wheat;
    margin-left: 10px;
}